<!DOCTYPE html>
<html>
  <head>
  <title>Vital Sign Monitoring-Control</title>
  <meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link href="../css/font-awesome.min.css" media="screen" rel="stylesheet" />
  <link href="../css/application-079077967c5fcf0b164b080bc2e27c83.css"  />

  <script type="text/javascript" src="../js/jquery.min.js"></script>
  <script type='text/javascript' src="../js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/jquery-ui.min.js"></script>
  <script src="../js/application-2fa1f01b48ec9e72eaa3ad5c1f134298.js"></script>
 

</head>

  <body>
     

    <div id="wrap">
      <div class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header navbar-right">
      
        <font color = "white" size="7">Control</font>
      </div>
   
      <ul class="nav navbar-nav navbar-left">
        <li><a href="../index.html"><font size ="4">Home</font></a></li>
        <li><a href="../graph.html"><font size ="4">Monitor</font></a></li>
        <li><a href="control.html"><font size ="4">Control</font></a></li>

        <li><a href="record.html"><font size ="4">Record</font></a></li>

          <li><a href="memo.html"><font size ="4">Memo</font></a></li>

      </ul>
    </div>
  </div>
</div>

  </body>
</html>

